@import url("./style.css");

.products-header-cont{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products-header-cont .left{
    display: flex;
    color: #ccc;
    font-weight: 900;
    display: flex;
    background: #000;
    margin-top: 20px;
    width: 10%;
    height: 50px;
    flex-direction: row;
    border-left: 2px solid var(--y);
}


.products-header-cont .left .products-options{
    display: flex;
    color: #ccc;
    font-weight: 900;
    display: flex;
    background: #000;
    margin-top: 20px;
    width: 50%;
    height: 50px;
    flex-direction: row;
    border-left: 2px solid var(--y);
}
.products-header-cont .left .products-count{
    font-weight: 900;
    padding: 5px;

}
.products-header-cont .left .qrcode-icon{
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    transform: scale(.65);
    transition: .2s ease;
    cursor: pointer;
    background: rgba(255, 217, 0, 0.286);
    color: var(--y);
} 


.products-header-cont .left ion-icon:focus{
    transform: scale(.85);
    transition: .2s ease;
}

.download-btn{
    color: #0026ff;
    background: rgba(4, 0, 255, 0.4);
}




/* QRCODE TABLE */

.products-main-container {
    position: relative;
    opacity: 10px;
    padding: 10px;
    width: 100%;
    height: auto;
}
.products-main-container table{
    color: #999898;
    border-top: none;
    width: 100%;
    height: auto;
}

.products-main-container table thead th{
    border-bottom: none;
    border-top: none;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
}

.products-main-container table tbody tr{
    background: var(--dark2);
    width: 100%;
    border-radius: 6px;
}
.products-main-container table tbody tr:hover{
    background: var(--dark3);

}

.products-main-container table tbody tr td{
    padding: 10px;
    
}
.products-main-container table tbody tr td .info{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.qrcode-main-container table tbody tr td .info .text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #ccc;
}

.products-main-container table tbody tr td .products-info-btn{
    transform: scale(.75);
    font-weight: 900;
    visibility: hidden;
} 

.products-main-container table tbody tr:hover > td .products-info-btn{
    visibility: visible;
}

.edit-product-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    /* display: none; */
}

.edit-product-modal .close-modal{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    font-size: 20px;
    color: red;
    background: rgba(255,0,0,.4);
    border-radius: 50%;
    transition: .2s ease;
    transform: scale(.75);
    cursor: pointer;
}

.edit-product-modal .close-modal:hover{
    transition: .2s ease;
    transform: scale(.85);
}

.edit-product-modal .post-form-cont{
    width: 50% !important;
    margin: 20px auto;
    position: relative;
    left: 50px;
}
.edit-product-modal .post-form-cont .right .check-edit-img{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    padding: 10px;
}
.edit-product-modal .post-form-cont .right .upload.visible{
    display: none;
}






